/* Font Definitions */
@font-face {
  font-family: 'Montserrat Armenian';
  src: url('../fonts/web_font/Montserratarm-Regular.woff2') format('woff2'),
       url('../fonts/web_font/Montserrat-Armenian-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Armenian bold';
  src: url('../fonts/web_font/Montserratarm-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Armenian semiBold';
  src: url('../fonts/web_font/Montserratarm-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Armenian light';
  src: url('../fonts/web_font/Montserratarm-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
.job-detail-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.job-detail-card {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  background-color: #1d2a33;
  padding: 30px;
  border-radius: 12px;
  color: white;
  font-family: 'Montserrat Armenian', sans-serif;
}

.job-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobs-gallery {
  min-width: 100%;
}

.job-left .main-image {
  width: 410px;
  height: 370px;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.thumbnail-row img {
  width: 76px;
  height: 76px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}
.thumbnail-row img.selected {
  border: 2px solid #ffffff;
  box-shadow: 0 0 5px #ffffff99;
}

.job-right h3 {
  font-family: 'Montserrat Armenian bold';
  font-size: 32px;
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 18px;
}

.job-right h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  max-width: 360px;
  background: linear-gradient(to right, #609AC4 0%, rgba(96, 154, 196, 0) 100%);
}

.thumbnail-row img {
  width: 80px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail-row img:hover {
  transform: scale(1.05);
}

.job-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-right h3 {
  font-family: 'Montserrat Armenian bold';
  font-size: 32px;
  margin-bottom: 10px;
}

.job-location {
  font-size: 16px;
  color: #a7c9dd;
  margin-bottom: 20px;
}

.job-description {
  font-size: 15px;
  line-height: 1.6;
  color: #dddddd;
}

.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.custom-pagination {
  display: flex;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Armenian', sans-serif;
  font-size: 28px;
  align-items: center;
}

.custom-pagination li {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.custom-pagination li a {
  color: #ffffff;
  text-decoration: none;
}

.custom-pagination li.active span {
  display: inline-block;
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(to bottom, #609AC4, #36698E);
  color: #fff;
  font-weight: bold;
}

.custom-pagination li.dots {
  pointer-events: none;
  font-size: 24px;
  opacity: 0.7;
}

.custom-pagination li a:hover {
  opacity: 0.6;
}

.scroll-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #84b5d4 transparent;
}

.scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #84b5d4;
  border-radius: 6px;
}

.jobs-gallery {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 370px); /* ֆիքսված երկու տող */
  grid-auto-columns: 240px;
  gap: 20px;
  padding-right: 20px;
  min-width: max-content;
}

.job-item {
  /* background-color: #1e2a36; */
  border-radius: 8px;
  padding: 3px;
  color: white;
  width: 250px;
  height: 274px;
  box-sizing: border-box;
}

.job-item img {
  width: 250px;
  height: 274px;
  object-fit: cover;
  border-radius: 6px;
}

.job-item h3 {
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Montserrat Armenian semiBold';
}

.job-address {
  display: flex;
  align-items: center;
  color: #cdd9e1;
  font-size: 14px;
  gap: 6px;
  margin-top: 8px;
}












