html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(22, 32, 42, 1); /* Բոլոր չլցված տարածքներն այս գույնն են ունենում */
  }
  

body {
    overflow-x: hidden;
    
  }
  

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(22, 32, 42, 1);
    color: white;
    padding: 20px 10%;
    position: relative;
    flex-wrap: wrap;
  }
  

  
  .about-text h2 {
    font-size:46px;
    margin-bottom: 10px;
  }
  
  /* .decor-line {
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: linear-gradient(90deg, #609AC4 0%, #16202A 100%);
    position: relative;
  } */
  .decor-line {
    height: 2px;
    width: calc(100% - 28%); /* որ երկարությունը էլի մեծացնենք */
    margin-left: -25%; /* ձախից հանի padding-ը */
    margin-bottom: 20px;
    border: none;
    background: linear-gradient(90deg, #609AC4 0%, #16202A 100%);
    position: relative;
  }
  

  
  /* ԱՅՍ ՄԱՍՆ է նոր */
  .about-image {
    position: relative;
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image img {
    position: absolute;
    /* right: -300px; */
    top: 0;
    z-index: 1;
    max-width: none;
    height: auto;
  }
  
  /* այս դեպքում տեքստը պիտի լինի ծնող դիվի մեջ, որը ավելի բարձր z-index ունի */
